body {
    background-color: #1c1369
}

.large_pizza{
    background-color: #ffb703;
}

.medium_pizza{
    background-color:#df4338 ;
}

.small_pizza{
    background-color: #219ebc;
}

.contact{
    background-color: #7cb518;
    }