body {
    background-color: #023047
}

.large_pizza{
    background-color: #ffb703;
}

.medium_pizza{
    background-color:#2a9d8f ;
}

.small_pizza{
    background-color: #219ebc;
}

.contact{
    background-color: #7cb518;
    }